@{
    ViewData["Title"] = "Absence";
}
<style>
</style>
<div class="container-fluid">
    <br />  
    <h4><b>User Name</b></h4>
    <table>
        <thead>
            <tr>
                <td>
                    Reason
                </td>
                <td>
                    Date of Absence(s)
                </td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Sick
                </td>
                <td>
                    1<sup>st</sup> February 2019
                </td>
                <td>
                    <a>
                        <span class="glyphicon glyphicon-pencil" title="Edit Time"></span>
                    </a>
                    <a>
                        <span class="glyphicon glyphicon-trash" title="Delete"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
