@{
    ViewData["Title"] = "About";
}
<style>
    *{
        font-size: 11pt;
    }
    strong{
        font-size: 18pt;
    }
    #myModal {
        display: none; /*Hidden in default*/
        position: fixed; /*Stay in place*/
        z-index: 1; /*Display on top*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-top: 100px;
        background-color: rgba(0,0,0,0.4);
        
    }
    .modal-content {
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #888;
        width: 25%;
        background-color: #fefefe;
    }
    .close > strong {
        float: right;
        font-weight: bold;
        color: #272626;        
    }

    .close:hover,
    .close:focus > strong {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .tdata {
        padding: 0px;
        vertical-align: middle;
        width: 50%;
    }

    td {
        font-family: Calibri;
        padding: 2px;
         
    }

    th {
        font-weight: bold;
    }
        
    .table-bb {
        margin: 0;
        border-collapse: collapse;
        box-sizing: border-box;
        vertical-align: middle;
    }
    .lastrow {
        font-weight: bold;
        text-align: right;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999 !important;
    }
    .tool {
        position: relative;
        display: inline-block;
    }

        .tool .hovtext {
            visibility: hidden;
            width: 130px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            letter-spacing: 0.000001em;
            font-size: 9pt;

            /*Position the hov*/
            position: absolute;
            z-index: 1;
            top: -5px; /*-5 px according to padding to align in center*/
            left: 105%;
        }
        .tool:hover {
            color: black;
        }
        .tool:hover .hovtext {
            visibility: visible;
        }
    /*.tablein {
        border-collapse: collapse;
        border-style: hidden;
    }

        .tablein td {
            border: 1px solid #999;
        }*/
    
</style>
<div>
    <h5><b>User Name</b></h5>
    <table cellpadding="0" cellspacing="0" class="table-responsive table-bb">
        <tbody>
            <tr>
                <td>
                    <div style="width: 165px"><button id="myBtn" class="btn btn-default">Sign In</button></div>
                    <div id="myModal">
                        <div class="modal-content">
                            <span class="close"><strong>&times;</strong></span>
                            <h4><strong>Sign-in</strong></h4>
                            <p>Reason: </p>
                            <textarea rows="4" cols="46"></textarea>
                            <hr />
                            <button class="btn btn-primary">Sign In</button>
                            <button id="cancel" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </td>
                <td class="tdata">
                    <span>Signed in at</span>
                    <big><span>10:00 AM</span></big>
                    <span>on Monday, January 28, 2019</span>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="padding: 0px; min-height: 10px;"></td>
            </tr>
            <tr style="display: none">
                <td colspan="2"></td>
            </tr>
            <tr>
                <td></td>
                <td style="width: 100%">
                    <div>
                        <table class="table-condensed table-hover tablein">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <th>Clock In</th>
                                    <th>Clock Out</th>
                                    <th>Time Spend</th>
                                    <td></td>
                                    @*<td></td>*@
                                </tr>
                                <tr>
                                    <td>Today</td>
                                    <td>
                                        <span>10:00 AM</span>
                                    </td>
                                    <td>
                                        <span>7:02 PM</span>
                                    </td>
                                    @*<td rowspan="2"></td>*@
                                    <td>
                                        8 Hrs 2 Mins
                                    </td>
                                    <td>
                                        <a class="tool">
                                            <span class="glyphicon glyphicon-pencil"><span class="hovtext">Edit Clock-In / Clock-Out Time</span></span>
                                        </a>
                                    </td>
                                    @*<td></td>*@
                                </tr>
                                <tr>
                                    <td>Thu, Jan 31</td>
                                    <td>
                                        <span>10:10 AM</span>
                                    </td>
                                    <td>
                                        <span>7:05 PM</span>
                                    </td>
                                    @*<td rowspan="2"></td>*@
                                    <td>
                                        7 Hrs 55 Mins
                                    </td>
                                    <td>
                                        <a class="tool">
                                            <span class="glyphicon glyphicon-pencil hov"><span class="hovtext">Edit Clock-In / Clock-Out Time</span></span>
                                        </a>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="lastrow" colspan="3">
                                        <style>
                                        </style>
                                        Total:
                                    </td>
                                    <td class="lastrow" colspan="2">
                                        <span style="float: left !important">8 Hrs 2 Mins</span>
                                    </td>
                                    @*<td></td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Total Absences in 2019:</td>
                <td>
                    <span>0 day(s)</span>&nbsp;
                    <a href="@Url.Action("Absence","Home")" target="_blank">View Absence(s)</a>
                </td>
            </tr>
            <tr>
                <td>Absences in Jan 2019:</td>
                <td>0 Day(s)</td>
            </tr>
            <tr>
                <td>Unmarked days in Jan 2019:</td>
                <td>2 Day(s)</td>
            </tr>
            <tr>
                <td>Time Spent in Jan 2019:</td>
                <td>8 Hrs 2 Mins</td>
            </tr>
            <tr>
                <td>Unmarked days in 2019:</td>
                <td>0 Day(s)</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $(#myBtn).click(function () {
        $(this).text(function (i, v) {
            return v === 'Sign In' ? 'Sign Out' : 'Sign In'
        })
    });
</script>
<script>
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    var cancelbtn = document.getElementById("cancel");

    // When the user clicks the button, open the modal 
    btn.onclick = function ()
    {
        modal.style.display = "block";
    }

    // When the user clicks cancel button, close the modal
    cancelbtn.onclick = function ()
    {
        modal.style.display = "none";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function ()
    {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event)
    {
        if (event.target == modal)
        {
            modal.style.display = "none";
        }
    }
</script>