@{
    ViewData["Title"] = "Absence";
}
<div class="container-fluid">
    <br />
    <h4><b>User Name</b></h4>
    <br />
    <div>
        <table class="table-responsive">
            <tbody>
                <tr class="smallGrid">
                    <td>Select Year:</td>
                    <td>
                        <select style="width: 100px">
                            <option selected="selected" value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div>
        <table id="table" class="table-condensed table-hover table-responsive">            
            <thead>
                <tr>
                    <td>
                        Reason
                    </td>
                    <td>
                        Date of Absence(s)
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="hiddenID" id="hiddenID_0" value="" />
                        <input name="txtName" type="text" value="Sick" id="txtTitle">
                    </td>
                    <td>
                        <input id="hasDatepicker1" name="MyDate1" type="text" value="1-Feb-2019" />
                    </td>
                    <td>
                        <a>
                            <span class="glyphicon glyphicon-floppy-disk" title="save"></span>
                        </a>
                        
                        <a style="margin-left: 5px;" onclick="deleteRow(this)">
                            <span class="glyphicon glyphicon-trash  gltrash" title="Delete"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="hiddenID" id="hiddenID_0" value="" />
                        <input name="txtName" type="text" value="Personal Leave" id="txtTitle">
                    </td>
                    <td>
                        <input id="hasDatepicker2" name="MyDate2" type="text" value="7-Feb-2019" />
                    </td>
                    <td>
                        <a>
                            <span class="glyphicon glyphicon-floppy-disk" title="save"></span>
                        </a>

                        <a style="margin-left: 5px;" onclick="deleteRow(this)">
                            <span class="glyphicon glyphicon-trash  gltrash" title="Delete"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function deleteRow(o) {
        var table = document.getElementById("table");

        for (var i = 0; i < table.rows.length; i++) {
            var c = confirm("Are you sure you want to delete");
            if (c === true) {
                var p = o.parentNode.parentNode;
                p.parentNode.removeChild(p);
                break;
            }
        }
    }    
</script>
<script>
    $(function () {
        $("#hasDatepicker1, #hasDatepicker2").datepicker(
            {
                dateFormat: "d-M-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '2010:2030'
            });
    });
</script>
